.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
}

.header__nav-link,
.header__nav-item {
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
}

.header__nav-link:hover,
.header__nav-item:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__nav-item {
    margin: 0px 8px;
    position: relative;
}

.header__nav-item--strong {
    font-weight: 400;
}

.header__nav-item--separate::after {
    content: "";
    display: block;
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    position: absolute;
    height: 16px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}

.header__nav-icon-link {
    color: var(--white-color);
    padding: 0px 3px;
}